body {
    background-color: black;
    color: rgb(255, 255, 255);
}

header,
main,
footer,
nav {
    text-align: center;
}

nav a {
    /* style for navigation links */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a.active {
    /* style for navigation links on click */
    background-color: rgb(112, 112, 112);
    padding: 6px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    font-size: 0.8em;
    color: rgb(151, 151, 151);
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#introduction {
    text-align: left;
    color: white;
    max-width: 800px;
}

.header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.published {
    font-style: italic;
    color: rgb(161, 161, 161);
}